.lessen-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lessen-logo {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lessen-image {
  top: -14px;
  left: -100px;
  width: 81px;
  height: 85px;
  position: absolute;
  object-fit: cover;
}
.lessen-text {
  font-size: 50px;
}
.lessen-hero {
  height: 852px;
  position: relative;
}
.lessen-max-width1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-items: center;
}
.lessen-html-node {
  width: 185px;
}
@media(max-width: 767px) {
  .lessen-max-width1 {
    flex-direction: column-reverse;
  }
}
